<a href="/login" id="login">Log in</a>
&nbsp &nbsp | &nbsp &nbsp
<a href="/register" id="register">Register</a>
<hr>


<div id="splash">

<div class="nowar">
    <div id="text" align='center'>
        <img id="no_war" align='center' src="baby.png" alt="Baby" height="200" width="500">
        <p id="par1" align='center'>Save our FUTURE!<br> SAY NO TO WAR! <br> <br> Sign this petition for a
            safer and a better world. <br> Together, our voice can make the WORLD safe!!!</p>
    </div>


</div class="login">

<h2 align = 'center'>Log in</h2>
    <div id="err">
        {{#if err}}
            <p><span class="error">{{err}}</span></p>
        {{/if}}
    </div>

    <form class="" method="post" align='center'>
        <label for="inp" class="inp">
            <input type="text" name="email" id="inp" placeholder="&nbsp;">
            <span class="label">E-mail</span>
            <span class="border"></span>
        </label>

        <label for="inp" class="inp">
            <input type="password" name="pass" id="inp" placeholder="&nbsp;">
            <span class="label">Password</span>
            <span class="border"></span>
        </label>

        <button type="submit">Sign in</button>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
    <div align='center'>
        <span><br>Don't have an account yet? <a href="/register">Get it here ...</a></span>
    </div>
</div>
