<a href="/logout" id="login">Log out</a>
<hr>

<div id="splash">

    <div class="pictext">
    <div id="no_war">
        <img align='center' src="baby.png" alt="Baby" height="200" width="300">
    </div>

    <div class="nowar">
        <div id="text" align='center'>
            <p id="par1" align='center'>SAY NO TO WAR! <br> <br> Please, sign this petition for a
                peaceful and safer world. <br> Together, our voice can make the WORLD better!!!</p>
        </div>
    </div>

    <div id="no_war">
        <img align='center' src="baby.png" alt="Baby" height="200" width="300">
    </div>

    </div>

<div class="login">
    <div id="err">
        {{#if err}}
        <p id="err">Please, sign the petition to continue!</p>
        {{/if}}
    </div>

    <form id = 'form' method="POST" align="center">
        <input type="hidden" name="sig" value="">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <br><br>
        <canvas id="canv" height="70px" width="476px" style="background: url('sign.png')"></canvas>
        <br><br>
        <button>Submit</button>
    </form>

</div>


</div>
<script src="/jquery-3.3.1.min.js" charset="utf-8"></script>
