<a href="/logout" id="logout-button">Log out</a>
&nbsp &nbsp | &nbsp &nbsp
<a href="/signers">List of signers</a>
&nbsp &nbsp | &nbsp &nbsp
<a href="/profile/edit">Edit your profile</a>

<hr>


<div id="splash">


        <h1 align="center">Thank you!</h1>

    <div id="smile">
        <img src="/smile.jpg" height="275px" width="375px">
    </div>

    <div id="sig">
        <img src={{base64str}} alt="signature">
    </div>

        {{#if link}}
            <div id="listedit">


                <form method="POST" action="/signature/delete">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
                    <button>Delete your signature</button> &nbsp &nbsp &nbsp &nbsp
                </form>

                <form method="POST" action="/profile/delete">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}"></input>
                    <button>Delete your profile</button>
                </form>


            </div>
        {{/if}}






</div>
